<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>384D7E8D277E9DA600E391D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384D7EA6277E9DAA00E391D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384D7EB1277E9DAA00E391D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
